<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rs.readahead.washington.mobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        tools:replace="android:allowBackup"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name=".data.provider.EncryptedFileProvider"
            android:authorities="${applicationId}.EncryptedFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/encrypted_file_paths" />
        </provider>

        <service
            android:name="info.guardianproject.cacheword.CacheWordService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".util.OpenPassword"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="96357564e9129c887ba59fb3e0957fcc10c76115" />

        <activity
            android:name=".views.activity.SplashActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- activity aliases -->
        <activity-alias
            android:name=".views.activity.AliasCamera"
            android:enabled="false"
            android:label="@string/camera"
            android:icon="@mipmap/ic_camera_3_round"
            android:targetActivity=".views.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".views.activity.AliasCameraPro"
            android:enabled="false"
            android:label="@string/camera_pro"
            android:icon="@mipmap/ic_camera_2_round"
            android:targetActivity=".views.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".views.activity.AliasSuperCam"
            android:enabled="false"
            android:label="@string/super_cam"
            android:icon="@mipmap/ic_camera_4_round"
            android:targetActivity=".views.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".views.activity.AliasEasyCam"
            android:enabled="false"
            android:label="@string/easy_cam"
            android:icon="@mipmap/ic_camera_1_round"
            android:targetActivity=".views.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <!-- activity aliases end -->

        <activity
            android:name=".views.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activity.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="open.settings.activity"
                    android:scheme="whistler_scheme"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activity.TrainingActivity"
            android:label="@string/ra_train"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activity.TrainingRoomActivity2"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_training_room_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activity.PanicModeSettingsActivity"
            android:label="@string/title_activity_panic_mode"
            android:parentActivityName=".views.activity.SecuritySettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.readahead.washington.mobile.views.activity.SecuritySettingsActivity" />
        </activity>
        <activity
            android:name=".views.activity.CamouflageSettingsActivity"
            android:label="@string/camouflage"
            android:parentActivityName=".views.activity.SecuritySettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.readahead.washington.mobile.views.activity.SecuritySettingsActivity" />
        </activity>
        <activity
            android:name=".views.activity.CamouflageAliasActivity"
            android:label="@string/change_appearance"
            android:parentActivityName=".views.activity.CamouflageSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.readahead.washington.mobile.views.activity.CamouflageSettingsActivity" />
        </activity>
        <activity
            android:name=".views.activity.AdvancedSecuritySettingsActivity"
            android:label="@string/advanced"
            android:parentActivityName=".views.activity.SecuritySettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.readahead.washington.mobile.views.activity.SecuritySettingsActivity" />
        </activity>
        <activity
            android:name=".views.activity.LockScreenActivity"
            android:label="@string/title_activity_lock_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activity.AudioRecordActivity2"
            android:label="@string/title_activity_audio_record"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activity.SecuritySettingsActivity"
            android:label="@string/ra_security_settings"
            android:parentActivityName=".views.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.readahead.washington.mobile.views.activity.SettingsActivity" />
        </activity>
        <activity
            android:name=".views.activity.SecurityActivity"
            android:label="@string/title_activity_security"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activity.NewPatternActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activity.AboutHelpActivity"
            android:label="@string/title_activity_about_help"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activity.MediaRecipients2Activity"
            android:label="@string/title_activity_recipients"
            android:parentActivityName=".views.activity.ReportSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.readahead.washington.mobile.views.activity.ReportSettingsActivity" />
        </activity>
        <activity
            android:name=".views.activity.ReportSettingsActivity"
            android:label="@string/ra_report"
            android:parentActivityName=".views.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.readahead.washington.mobile.views.activity.SettingsActivity" />
        </activity>
        <activity
            android:name=".views.activity.ContactSettingsActivity"
            android:label="@string/ra_contact_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="open.contact_settings.activity"
                    android:scheme="whistler_scheme"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activity.EditMediaRecipientListActivity"
            android:label="@string/title_activity_edit_media_recipient_list"
            android:parentActivityName=".views.activity.MediaRecipients2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.readahead.washington.mobile.views.activity.MediaRecipients2Activity" />
        </activity>
        <activity
            android:name=".views.activity.CollectMainActivity"
            android:label="@string/title_activity_collect_main"
            android:parentActivityName=".views.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.readahead.washington.mobile.views.activity.MainActivity" />
        </activity>
        <activity
            android:name=".views.activity.CollectHelpActivity"
            android:label="@string/collect_help"
            android:parentActivityName=".views.activity.CollectMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".views.activity.CollectManageServersActivity"
            android:label="@string/ra_title_activity_collect_settings"
            android:parentActivityName=".views.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.readahead.washington.mobile.views.activity.SettingsActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="open.collect.manage.servers.activity"
                    android:scheme="whistler_scheme"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activity.CollectFormEntryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".views.activity.AttachmentsActivity"
            android:label="@string/ra_attachments"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activity.GalleryActivity"
            android:label="@string/ra_gallery"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activity.PhotoViewerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PhotoViewerTheme.NoActionBar"/>
        <activity
            android:name=".views.activity.AudioPlayActivity"
            android:label="@string/ra_title_activity_audio_play"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".views.activity.LanguageSettingsActivity"
            android:label="@string/title_activity_language_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activity.GeneralSettingsActivity"
            android:label="@string/ra_general"
            android:parentActivityName=".views.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.readahead.washington.mobile.views.activity.SettingsActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="open.general.settings.activity"
                    android:scheme="whistler_scheme"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activity.VideoViewerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/PlayerTheme"/>
        <activity android:name=".views.activity.CameraActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/CameraTheme"/>
        <activity android:name=".views.activity.ExitActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:autoRemoveFromRecents="true"
            tools:targetApi="lollipop" />
        <activity
            android:name=".views.activity.ReportActivity"
            android:label="@string/title_activity_report"
            android:parentActivityName=".views.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.readahead.washington.mobile.views.activity.MainActivity"/>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="open.report.activity"
                    android:scheme="whistler_scheme"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activity.ReportHelpActivity"
            android:label="@string/report_help"
            android:parentActivityName=".views.activity.ReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.readahead.washington.mobile.views.activity.ReportActivity"/>
        </activity>
        <activity
            android:name=".views.activity.NewReportActivity"
            android:label="@string/new_report"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".views.activity.RecipientsActivity"
            android:label="@string/title_activity_recipients"
            android:parentActivityName=".views.activity.NewReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.readahead.washington.mobile.views.activity.NewReportActivity"/>
        </activity>
        <activity
            android:name=".views.activity.RecipientsHelpActivity"
            android:label="@string/recipients_help"
            android:parentActivityName=".views.activity.RecipientsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="rs.readahead.washington.mobile.views.activity.RecipientsActivity"/>
        </activity>
        <activity
            android:name=".views.activity.ReportListActivity"
            android:label="@string/title_activity_archive"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".views.activity.FeedbackActivity"
            android:label="@string/feedback"
            android:parentActivityName=".views.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="open.feedback.activity"
                    android:scheme="whistler_scheme"/>
            </intent-filter>
        </activity>
        <activity android:name=".views.activity.WhistlerIntroActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/PlayerTheme"/>
    </application>
</manifest>